body{
    background-color: yellowgreen;
}


@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    src: url('fredoka-one-v8-latin-regular.woff') format('woff');
  }

  a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.audio{
  margin-top: 0.5rem;
}
.p1 {
    margin-top: 1rem;
    font-family: 'Fredoka One';
    font-size: 6rem;
    color: rgb(238, 130, 238);
    animation-duration: 3s;
    animation-name: p1;
  }
  
  @keyframes p1 {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .p2 {
    display: flex;
    justify-content: flex-end;
    font-family: 'Fredoka One';
    font-size: 3rem;
    color: rgb(130, 146, 238);
    animation-duration: 3s;
    animation-name: p2;
  }

  @keyframes p2 {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }